
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnlighTan</title>
    
    <!-- add font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Noto+Serif+SC&display=swap" rel="stylesheet">
    
</head>

<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}" >
    <!-- background image -->
    {% load static %}
    <img id="bg" src="{% static 'IMG_2003.jpg' %}" width="1920" height="720"/>
    <h1>{{monk}}</h1>
    <h1>EnlighTan</h1>

    <!-- <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/mdgrhyca.json"
        trigger="morph"
        style="width:25px;height:25px">
    </lord-icon> -->

    <div>
        <!-- <div class="login">เข้าสู่ระบบ</div> -->
        <a href="signin.html"><button class="loginbut">เข้าสู่ระบบ</button></a>
            
    </div>    
    

    <div class="flex-option-container">

        <div class="important">

            <div class="icon"></div>
            
                <div id="topic">บทสวดมนต์วันสำคัญ</div>
                <div id="description">บทสวดมนต์ในวันสำคัญทางศาสนา</div>   
            
        </div>

        <div class="daily">

            <div class="icon"></div>
            
                <div id="topic">บทสวดมนต์ประจำวัน</div>    
                <div id="description">บทสวดมนต์ประจำวันในสัปดาห์</div>   
                

        </div>

        <div class="others">

            <div class="icon"></div>
            <div id="topic">บทสวดมนต์อื่น ๆ</div>
            <div id="description">บทสวดมนต์ทั้งหมด</div> 
            
        </div>

    </div>

</body>
</html>