<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnlighTan</title>
    <link rel="stylesheet" href ="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <h1>EnlighTan</h1>

    <div>
        <!-- <div class="login">เข้าสู่ระบบ</div> -->
        <a href="signIn.html"><button class="loginbut">เข้าสู่ระบบ</button></a>
            
    </div>

    <div class="option">
        
        

        <div class="daly">

        </div>

        <div class="important">

        </div>

        <div class="all">

        </div>

    </div>

</body>
</html>