<!DOCTYPE html>

{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnlighTan</title>
    <link rel="stylesheet"  type="text/css" href ="{% static 'css/main.css' %}">
    <!-- add font -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}" >
    
</head>

<body>
    <!-- background image -->
    <img class="image" src = "{% static 'img/IMG_2003.jpg' %}" >
    
    
    <h1>EnlighTan</h1>

    <!-- <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/mdgrhyca.json"
        trigger="morph"
        style="width:25px;height:25px">
    </lord-icon> -->

    <div>
        <!-- <div class="login">เข้าสู่ระบบ</div> -->
        <a href="signIn.html"><button class="loginbut">เข้าสู่ระบบ</button></a>
            
    </div>    

    <div class="flex-option-container">

        <div class="important">

            <div class="icon"></div>
            <div class="topic">บทสวดมนต์วันสำคัญ</div>
            <div class="description">บทสวดมนต์ในวันสำคัญทางศาสนา</div>   

        </div>

        <div class="daily">

            <div class="icon"></div>
            <div class="topic">บทสวดมนต์ประจำวัน</div>
            <div class="description">บทสวดมนต์ประจำวันในสัปดาห์</div>   
                

        </div>

        <div class="others">

            <div class="icon"></div>
            <div class="topic">บทสวดมนต์อื่น ๆ</div>
            <div class="description">บทสวดมนต์ทั้งหมด</div> 
            
        </div>

    </div>

</body>
</html>