<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/7day.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Noto+Sans+Thai&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/static/img/Rectangle 58 (3).png" class="upr">
    <img src="/static/img/Rectangle 78.svg" class="pra">
    <h1 id="etan">EnlighTan</h1>
    <input type="button" value="เข้าสู่ระบบ"id="log">
    <input type="text" placeholder="   type to search ..." id="sear">
    <input type="button" value="วันจันทร์" id="p1">
    <input type="button" value="วันอังคาร" id="p2">
    <input type="button" value="วันพุธ" id="p3">
    <input type="button" value="วันพฤหัสบดี" id="p4">
    <input type="button" value="วันศุกร์" id="p5">
    <input type="button" value="วันเสาร์" id="p6">
    <input type="button" value="วันอาทิตย์" id="p7">
        
    
    <img src="/static/img/dokmai 1.svg" id="dok1" alt="">
    <img src="/static/img/dokmai 2 (1).svg" id="dok2" alt="">
    <h1 id="mon">บทสวดประจำสัปดาห์</h1>
    <img src="/static/img/🦆 icon _search_.png" class="seaBar">
</body>
</html>