<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnlighTan</title>
    <link rel="stylesheet" href ="D:\Year2 S1\Info System\Enlightannnnn\static\css\chanting.css">
<!-- add font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400&display=swap" rel="stylesheet">
    

</head>
<body>
    <h1>EnlighTan</h1>

    <div>
        <!-- ปุ่มเข้าสู่ระบบ -->
        <a href="signIn.html"><button class="loginbut">เข้าสู่ระบบ</button></a>
        <!-- ปุ่มดูหน้าโปรไฟล์ -->
        <a href="viewProfile.html"><button class="viewprofile">ดูโปรไฟล์</button></a>
    </div>    

    <div class="chantingName">(ชื่อบทสวด)</div>

    <div class="chantingBox"></div>

    <div class="chantingSay" behavior="scroll" direction="up"> officiis fugit cumque incidunt expedita? Numquam iure ad quo laudantium, eligendi atque porro illo aperiam quam. Commodi odio illum in! Voluptas laudantium, necessitatibus voluptate deserunt tempora, ipsam deleniti voluptatibus molestias illum commodi aspernatur reiciendis unde eveniet soluta neque harum possimus. Rerum, placeat? Officiis aut quaerat voluptatibus nam voluptates incidunt vitae dolorem eveniet facere, culpa nemo sint similique doloremque nesciunt perspiciatis sunt veniam ducimus deleniti debitis consequuntur, assumenda possimus. Rerum deserunt consequuntur qui atque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic alias distinctio in placeat incidunt aliquid fugiat eligendi magnam libero illo a sequi cumque magni ratione vitae doloribus ea, iste dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam at harum, veritatis voluptate vitae aperiam.</div>

</body>
</html>