<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/enlighTan-kaidip/static/css/favo.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- background image-->
    <img class="bg" src="/enlighTan-kaidip/static/img/Rectangle 65.png" width="1500" height="10">
    <img class="upr" src="/enlighTan-kaidip/static/img/Rectangle 60.png" >
    <img class="pra" src="/enlighTan-kaidip/static/img/พระองค์ส้ม.png" width="517"height="519"top="188px">
    <h1>EnlighTan</h1>
    <div class="say">บทสวดมนต์ที่ชื่นชอบ</div>
    <input type="button" value="พาหุงฯ" id="pahung">
    <input type="button" value="คำบูชาพระ" id="kumbuchapra">
    <input type="button" value="บูชาพระ" id="prarattanatrai">
    <input type="button" value="อาราธนานศีล5" id="aratananseen5">
    <input type="button" value="บูชาพระ" id="p1">
    <input type="button" value="บูชาพระ" id="p2">
    
</body>
