<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href ="signIn.css">
    <!-- add font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Noto+Serif+SC&display=swap" rel="stylesheet">

</head>
<body>
    <h1 id="title">EnlighTan</h1>
    <h1 id="signin"><b>Sign in to your Account</b></h1>
    <h4>Do not have an account?</h4>
    <a href="signUp.html">Sign up now</a>

    <div class="fillin-container">
        <form>
            <div>
                <label class="name" for="username">Username</label><br>
                <input type = "text" id = "username" name = "username" placeholder = "    Enter your name here" required>
            </div>

            <div>
                <label class="pass" for="password">Password</label><br>
                <input type = "password" id = "password" name = "password" placeholder = "    Enter your password" required maxlength="12">
            </div>

            <div>
                <button type="submit">Sign In</button>
            </div>
        </form>
    </div>
</body>
</html>